<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_background"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".Pantalla_Inicio"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".administrativa.Agregar_Cliente"
            android:exported="true">

        </activity>
        <activity
            android:name=".administrativa.Agregar_Prestamo"
            android:exported="true">
        </activity>
        <activity
            android:name=".administrativa.Principal"
            android:exported="true">

        </activity>
        <activity
            android:name=".cliente.Calcular_Cuota"
            android:exported="true">

        </activity>
        <activity
            android:name=".cliente.Gestionar_Ahorro"
            android:exported="true">

        </activity>
        <activity
            android:name=".cliente.Principal"
            android:exported="true">

        </activity>
        <activity
            android:name=".cliente.Ver_Informacion_Personal"
            android:exported="true">

        </activity>
        <activity
            android:name=".cliente.Ver_Prestamo"
            android:exported="true">

        </activity>
    </application>

</manifest>